@import "tailwindcss";

[id] {
  scroll-margin-top: 100px;
}

@theme inline {
  /*background colors*/
  --color-bg-primary: #faf9f6;
  --color-bg-secondary: #f5f3ef;
  --color-bg-tertiary: #eeeae4;

  /*text colors*/
  --color-text-primary: #1a1a1a;
  --color-text-secondary: #555555;
  --color-text-tertiary: #767676;

  /*Accent -- purple*/
  --color-accent: #745dac;
  --color-accent-light: #e2dbf4;
  --color-accent-dark: #513d82;
  --color-accent-muted: #ada1ca;

  /* ---- Borders ---- */
  --color-border: #e5e2dc;
  --color-border-hover: #d1ccc4;

  /* ---- Fonts---- */
  --font-display: var(--font-display), ui-sans-serif, system-ui, sans-serif;
  --font-body: var(--font-body), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-mono), ui-monospace, monospace;
}

/*Base style*/
html {
  scroll-behavior: smooth;
}

body {
  background: #faf9f6;
  color: #1a1a1a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ---- Selection highlight with purple ---- */
::selection {
  background-color: #e2dbf4;
  color: #513d82;
}
